<form method="post" class="d-inline-block" action="{{ path('attend_clear') }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn btn-danger btn-sm" title="clear list attend">
        <i class="fas fa-trash"></i>
    </button>
</form>
