<form method="post" action="{{ path('depenses_delete', {'id': depense.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ depense.id) }}">
    <button class="btn m-lg-1 btn-sm btn-danger" title="supprimer"><i class="fas fa-trash"></i></button>
</form>
