<form method="post" class="d-inline-block" action="{{ path('attend_delete', {'id': id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="tools d-inline btn btn-sm">
        <i class="fas fa-trash"></i>
    </button>
</form>
